

<nav class="navbar navbar-default" role="navigation">
    
            <div class="navbar-header">
                <h1>TinyApp</h1>

                    <% if(user){ %>
                        Logged in as : <%= user.email %>
                        <form action="/logout" method="POST">
                            <button type="logout" class="btn btn-primary">Logout</button>
                        </form> 
                        
                    <% } else { %>
                        <a href="/login">Login</a> |
                        <a href="/register">Register</a>
                
                    <% } %>
            </div>
        
     </nav>
