
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>



<div>

<body style="font-size:20px; padding:50px;">

    <% include ./partials/_header.ejs %>

    <ul>
        <h3>My URLS</h3>
        <a href='/urls/new'>Create New TinyURL</a>


            <% for (const shortURL in urls) { %>
                <% if(user && urls[shortURL].userID === user.id){ %>
                    
                <% const longURL = urls[shortURL].longURL %>
                <li><%= longURL %> - <%= shortURL %></a></li>
                <a href="/urls/<%= shortURL %>">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </a>
                <form method="POST" action="/urls/<%= shortURL %>/delete">
                    <input type="submit" value="Delete">
                </form>
                <% } %>
            <% }  %>

    </ul> 

</body>
</div>
</html>
