
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>

<header>    
        <h1>TinyApp</h1>
        
</header>


<body style="font-size:20px; padding:50px;">

    <% include ./partials/_header.ejs %>

    <ul>
        <h3>My URLS</h3>
            <% for (const shortURL in urls) { %>
                <% const longURL = urls[shortURL]; %>
                <li><%= longURL %> - <%= shortURL %></a></li>
                <a href="urls/<%= shortURL %>">
                    <button>
                        Edit
                    </button>
                </a>
                <form method="POST" action="/urls/<%= shortURL %>/delete">
                    <input type="submit" value="Delete">
                </form>
            <% }  %>

    </ul> 

</body>
</html>
